N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER={{ n8n_basic_auth_user }}
N8N_BASIC_AUTH_PASSWORD={{ n8n_basic_auth_password }}
N8N_USER_FOLDER=/home/node/.n8n
WEBHOOK_URL={{ n8n_webhook_url | default('http://' + server_ip + '/') }}
N8N_PROTOCOL={{ n8n_protocol | default('http') }}
N8N_PORT={{ n8n_port | default('5678') }}
N8N_HOST={{ n8n_host | default(server_ip) }}
N8N_SECURE_COOKIE=false
EXECUTIONS_MODE={{ n8n_executions_mode | default('regular') }}
GENERIC_TIMEZONE={{ n8n_timezone | default('America/Argentina/Buenos_Aires') }}
